# NLP With Hotel Review

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Hotel_Reviews.csv')

In [12]:
df.columns

Index(['Unnamed: 0', 'Additional_Number_of_Scoring', 'Average_Score',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score',
       'Days_Since_Review', 'Latitude', 'Longitude', 'Day', 'Month', 'Year',
       'Reviewer_Nationality_Australia', 'Reviewer_Nationality_Ireland',
       'Reviewer_Nationality_UAE', 'Reviewer_Nationality_UK',
       'Reviewer_Nationality_USA', 'Reviewer_Nationality_Other',
       'Hotel_Address_Amsterdam', 'Hotel_Address_Barcelona',
       'Hotel_Address_London', 'Hotel_Address_Milan', 'Hotel_Address_Paris',
       'Hotel_Address_Vienna', 'Leisure_Trip', 'Nights_Stayed'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 30 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Unnamed: 0                                  515738 non-null  int64
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Average_Score                               515738 non-null  float64
 3   Negative_Review                             515738 non-null  object
 4   Review_Total_Negative_Word_Counts           515738 non-null  int64
 5   Total_Number_of_Reviews                     515738 non-null  int64
 6   Positive_Review                             515738 non-null  object
 7   Review_Total_Positive_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 9   Reviewer_Score                              515738 non-null  int64
 10  Days_Since_Review                           515738 non-null  int64
 11  Latitude                                    515738 non-null  float64
 12  Longitude                                   515738 non-null  float64
 13  Day                                         515738 non-null  int64
 14  Month                                       515738 non-null  int64
 15  Year                                        515738 non-null  int64
 16  Reviewer_Nationality_Australia              515738 non-null  int64
 17  Reviewer_Nationality_Ireland                515738 non-null  int64
 18  Reviewer_Nationality_UAE                    515738 non-null  int64
 19  Reviewer_Nationality_UK                     515738 non-null  int64
 20  Reviewer_Nationality_USA                    515738 non-null  int64
 21  Reviewer_Nationality_Other                  515738 non-null  int64
 22  Hotel_Address_Amsterdam                     515738 non-null  int64
 23  Hotel_Address_Barcelona                     515738 non-null  int64
 24  Hotel_Address_London                        515738 non-null  int64
 25  Hotel_Address_Milan                         515738 non-null  int64
 26  Hotel_Address_Paris                         515738 non-null  int64
 27  Hotel_Address_Vienna                        515738 non-null  int64
 28  Leisure_Trip                                515738 non-null  int64
 29  Nights_Stayed                               515738 non-null  int64
dtypes: float64(3), int64(25), object(2)
memory usage: 118.0+ MB

In [8]:
df['Negative_Review'].value_counts()

Negative_Review
No Negative                                                                                                                                                                                                                127890
 Nothing                                                                                                                                                                                                                    14295
 Nothing                                                                                                                                                                                                                     4236
 nothing                                                                                                                                                                                                                     2225
 N A                                                                                                                                                                                                                         1037
                                                                                                                                                                                                                            ...
 Quite a large hold per night was taken I have been back from the hotel for 3 nights now and still haven t received the hold money back This is has unfortunately left a negative image in my head after a lovely trip          1
 One of the two elevators were broken It was still ok                                                                                                                                                                           1
 Information regarding the charge of 100 per night for room service and wifi etc Didn t know until check in that this was a thing                                                                                               1
 the room maintenance especially the shower and toilet are not 5 star hotel maybe 3 also breakfast can be much better for this price                                                                                            1
 I was in 3rd floor It didn t work Free Wife                                                                                                                                                                                    1
Name: count, Length: 330011, dtype: int64

In [10]:
df.shape

(515738, 30)

In [22]:
df.iloc[:3,2:15].head()

,Average_Score,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Days_Since_Review,Latitude,Longitude,Day,Month
0,7.7,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,0,0,52.360576,4.915968,3,8
1,7.7,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,0,0,52.360576,4.915968,3,8
2,7.7,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,0,3,52.360576,4.915968,31,7

In [16]:
df.isna().sum()

Unnamed: 0                                    0
Additional_Number_of_Scoring                  0
Average_Score                                 0
Negative_Review                               0
Review_Total_Negative_Word_Counts             0
Total_Number_of_Reviews                       0
Positive_Review                               0
Review_Total_Positive_Word_Counts             0
Total_Number_of_Reviews_Reviewer_Has_Given    0
Reviewer_Score                                0
Days_Since_Review                             0
Latitude                                      0
Longitude                                     0
Day                                           0
Month                                         0
Year                                          0
Reviewer_Nationality_Australia                0
Reviewer_Nationality_Ireland                  0
Reviewer_Nationality_UAE                      0
Reviewer_Nationality_UK                       0
Reviewer_Nationality_USA                      0
Reviewer_Nationality_Other                    0
Hotel_Address_Amsterdam                       0
Hotel_Address_Barcelona                       0
Hotel_Address_London                          0
Hotel_Address_Milan                           0
Hotel_Address_Paris                           0
Hotel_Address_Vienna                          0
Leisure_Trip                                  0
Nights_Stayed                                 0
dtype: int64

In [18]:
df.duplicated().sum()

0

In [20]:
df['Reviewer_Score'].value_counts()

Reviewer_Score
1    293974
0    221764
Name: count, dtype: int64

In [23]:
df['Positive_Review'].value_counts()

Positive_Review
No Positive                                                                                                    35946
 Location                                                                                                       9222
 Everything                                                                                                     2284
 location                                                                                                       1677
 Nothing                                                                                                        1243
                                                                                                               ...
 The rooms and staff were amazing                                                                                  1
 The entire package                                                                                                1
 The hotel is very clean rooms are big                                                                             1
 The rooms are very wide and clean very close to the metro station its almost at the entrance to the hotel         1
 staff was very kind                                                                                               1
Name: count, Length: 412601, dtype: int64

In [28]:
df['Average_Score'].value_counts().sort_index

<bound method Series.sort_index of Average_Score
8.4    41222
8.1    38122
8.5    38066
8.7    37798
8.6    36945
8.2    34847
8.3    32880
8.8    30836
8.9    28520
8.0    22342
9.1    21379
9.0    21051
7.8    19895
7.9    15194
7.5    13720
9.2    12935
9.3    12659
7.7    11829
9.4     9339
7.1     6780
7.6     6684
7.4     6300
7.3     3997
7.0     3899
6.9     1737
6.8     1335
9.5     1207
6.4     1163
6.7      965
9.6      915
7.2      684
6.6      400
5.2       65
9.8       28
Name: count, dtype: int64>